
 h2 {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
        font-size: 28px;
        padding-top: 3rem;

 } 
     
 h2 span { 
         background: white; 
         padding:0 10px; 
     }

.merch {
 
   

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include breakpoint-up(medium){
        flex: 0 0 50%;
      }

    &__tshirts {
        padding: 0.9375rem;

        img {
            max-width: 28rem;
        }
    }
    

    &__bags {
        padding: 0.9375rem;

        img {
            max-width: 28rem;
        }
    }
}

    

